.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    padding: 20px;
    max-width: 100%;
  }

  h1 {
    font-size: 10vw;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-weight: 900;
    font-style: bold;
    white-space: nowrap;
    background: linear-gradient(to right, rgb(188, 188, 255), rgb(255, 182, 255), rgb(185, 179, 255));
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s ease infinite;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  